header {
    background-color: lightskyblue;
    color: black;
    padding: 30px;
    text-align: center;

}

.circle {width: 150px;
    height: 150px;
    background-color: #ffffff;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    left: 15px;
    background-image: url('https://i.postimg.cc/65x5L13D/Nerdy-Gargets-logo-1.png');
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(0deg);
    transition: transform 1s;
}

.circle:hover {
    transform: rotate(360deg);
}