.review-box {
    width: 1103px;
    height: 225px;
    font-size: 16px;
    border: solid #ccc;
    border-radius: 1px;
    box-sizing: border-box;
    float: right;
    margin-right: 0px;
}
.body{
    width: 1100px;
    border: solid;
    border-radius: 100px;
    margin-top: 0px;
    float: left;
    margin-left: 138px;
    color: black;
}
.divider {
    width: 0px;
    height: 1000px;
    border: solid;
    float: left;
    margin-left: 137px;
    margin-top: -225px;
}
